/**
Remove the margin in all browsers.
*/

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    text-align: center;
}

body{
    background-color: rgb(255, 255, 255);
	margin: 0;
}

h1, h2{ 
    font-family: 'Libre Baskerville', serif;
    font-size: 30px !important;
    font-weight: bold !important;
}

nav{
    box-shadow: 0 3px 10px rgb(0 0 0 / 25%);
    border-bottom: 2px solid #d5d5d5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 8px;
}

.navbar-logo > img{
    cursor: pointer;
    max-width: 50%;
    max-height: 160px;
    object-fit: cover;
}

.navbar-content{
    list-style: none;
    padding: 0 40px;
}
.navbar-content > li{
    display: inline-block;
    margin: 0 5px;
}
.navbar-item {
    text-decoration: none;
    font-size: 15px;
    font-weight: normal;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 0px;
    transition: all 0.3s ease;
}

.navbar-item.active,
.navbar-item:hover{
  color: rgb(17, 17, 17);
  background: #fff;
}

.genre-choice{
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 40px;
}

.genre-choice > span{
    display: inline-block;
    margin: 0 16px;
    cursor: pointer;
    text-shadow: 0 2px 0 rgb(0 0 0 / 30%);
    -webkit-box-shadow: 0 -3px 0 rgb(0 0 0 / 20%) inset, 0 0 10px rgb(255 255 255 / 50%);
}

.genre-masculine{
    background-image: linear-gradient(-45deg, #657ce6, #294ddb);
    border-radius: 5%;
    padding: 15px 40px;
}
.genre-feminine{
    background-image: linear-gradient(-45deg, #e25555, #db2929);
    border-radius: 5%;
    padding: 15px 40px;
}
.genre-neuter{
    background-image: linear-gradient(-45deg, #55e255, #32db29);
    border-radius: 5%;
    padding: 15px 40px;
}

.genre-masculine > a{
    color:beige;
    font-size: 18px;
}
.genre-feminine > a{
    color:beige;
    font-size: 18px;
}
.genre-neuter > a{
    color:beige;
    font-size: 18px;
}

.scoreboard{
    align-items: center;
    list-style: none;
    margin-top: -30px;
    padding: 20px
}

.scoreboard-richtig, .scoreboard-falsch{
    text-transform: uppercase;
    color: #666;
    border: 1px solid rgb(80, 80, 80);
    border-radius: 5%;
    padding: 15px 40px;
}

.ubung-top{
    padding: 40px;
    /* background-image: linear-gradient(#e25555, #db2929);*/
    background-color: #fdd007;
    color:rgb(0, 0, 0);
    border: 2px solid #000000;
}

.ubung-top > a{
    position: absolute;
    left: 20px;
    top: 10px;
}

.ubung-top > a:hover{
    color: white;
}

.word-card{
    margin-top: 0px;
}

.word-question > h2{
    font-size: 30px !important;
    font-weight: bold !important;
}

.word-question{

}

.word-translation{

}

.ubung-content{
    padding: 50px;
}

footer{
    background-color: #000000;
}